/* removing annoying auto padding */
body,
ul {
  padding: 0;
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
}

/* pause animations */
.preload * {
  -webkit-transition: none !important;
  -moz-transition: none !important;
  -ms-transition: none !important;
  -o-transition: none !important;
}

.NavHeaderWrapper {
  border-radius: 0 0 10px 10px;
  background-color: #323948;
}
/* The navigationBar */
.HorizontalNav {
  background-color: white;
  height: 8vh;
  border-radius: 0 0 10px 10px;
  display: block;
  position: relative;
}
/* Setting for list items */
.HorizontalNav ul {
  display: flex;
  height: 100%;
  list-style: none;
  list-style-image: none;
}

/* Elements in navbar */
/* replace with A for anchor tags */
.HorizontalNav li {
  display: list-item;
  height: 100%;
}

/* adding rounded bottom to the first Item */
.HorizontalNav li:first-child {
  border-bottom-left-radius: 10px;
}

.HorizontalNav li p {
  color: #2d3a57;
  font-size: 2.5vh;
  height: 100%;
  text-align: center;
  padding: 0 20px 0 20px;
}

.HorizontalNav li:hover {
  background-color: #e1e1e1;
}

/* Header div styling */
.Header {
  position: relative;
  width: 100%;
  height: 40vh;
  overflow: hidden;
}

/* centering and scaling down */
.Header #HeaderImg {
  display: block;
  margin-left: auto;
  margin-right: auto;
  max-width: 80%;
}

/* display name on hover */
.Header #HeaderHover {
  display: block;
  position: absolute;
  top: 50%;
  width: 100%;
  text-align: center;
  background-color: #00000081;
  -webkit-transition: opacity 0.3s ease-in-out;
  -moz-transition: opacity 0.3s ease-in-out;
  transition: opacity 0.3s ease-in-out;
  opacity: 0;
}

.Header #HeaderHover h1 {
  text-decoration: none;
  font-weight: normal;
  color: #fbfeff;
}

.Header:hover > #HeaderHover {
  opacity: 1;
}

/* Content Globals */
/* Text */
.Content p,
h1,
a {
  text-align: center;
  color: #2d3a57;
  font-size: 2vh;
}
.Content h1 {
  font-size: 2.5vh;
}
/* Lists */
.Content ul,
li {
  list-style: none;
}

/* Profile */

/* Pic */
.Profile #ProfilePic {
  display: block;
  margin-top: 5vh;
  margin-left: auto;
  margin-right: auto;
  width: 18vh;
  height: 18vh;
  object-fit: cover;
  border-radius: 50%;
}

/* little Line divider */
.Divider {
  background-color: #2d3a57;
  margin-left: auto;
  margin-right: auto;
  height: 0.5vh;
  width: 40vw;
  border-radius: 5px;
}

/* Projects */

/* turning the anchors into Flex */
.Projects a,
.ListObject {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
  flex-wrap: wrap;
  position: relative;
  flex-direction: column;
}

/* Change Flex mode at this breakppiint */
@media only screen and (min-width: 768px) {
  .Projects a,
  .ListObject {
    flex-direction: row;
  }
  /* for somereason I need to offset the anchor box by 5% of view height so it fits with other boxes? */
  .Projects a {
    margin-left: 5vh;
  }
}

/* editing margins of children */
.Projects a p {
  margin: 0;
}

.Projects li {
  margin-top: 5vh;
}

.Projects a {
  width: fit-content;
  text-decoration: none;
}

/* adding margin to bottom of last child */
.Projects ul li:last-child {
  margin-bottom: 5vh;
}

/* img size */
.Projects img {
  min-width: 280px;
  min-height: 280px;
  display: block;
  height: 30vh;
  width: 30vh;
  object-fit: cover;
  border-radius: 5%;
}

/* Photos */
.Photos ul,
li {
  list-style: none;
}

.Photos ul {
  display: flex;
  gap: 20px;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  padding-left: 2vw;
  padding-right: 2vw;
}

.Photos img {
  min-width: 280px;
  min-height: 280px;
  width: 30vh;
  height: 30vh;
  border-radius: 20px;
  object-fit: cover;
}

/* Footer */
.Footer {
    margin-top: 5vh;
  height: 20vh;
  background-color:#323948;
}
